<main>
    
    <section>


        <div class="card">

            <div class="title">
                <img src="../../assets/image/Icon material-forum.png" alt="">
                <h1> Derniers Forum</h1>
            </div>

            <hr>

            <div class="all">

                <div class="forumPresentation">
                    <img src="../../assets/image/Icon awesome-js.png" alt="">
                    <p>titre du forum</p>
                    <div class="right">
                        <img src="../../assets/image/Icon material-message.png" alt="">
                        <p>80</p>
                    </div>
                </div>

                <div class="forumPresentation">
                    <img src="../../assets/image/Icon awesome-js.png" alt="">
                    <p>titre du forum</p>
                    <div class="right">
                        <img src="../../assets/image/Icon material-message.png" alt="">
                        <p>80</p>
                    </div>
                </div>

                <div class="forumPresentation">
                    <img src="../../assets/image/Icon awesome-js.png" alt="">
                    <p>titre du forum</p>
                    <div class="right">
                        <img src="../../assets/image/Icon material-message.png" alt="">
                        <p>80</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">

            <div class="title">
                <img src="../../assets/image/Icon material-forum.png" alt="">
                <h1> Dernières Veilles</h1>
            </div>

            <hr>

            <div class="all">

                <div class="forumPresentation">
                    <img src="../../assets/image/Icon awesome-js.png" alt="">
                    <p>titre du forum</p>
                    <div class="right">
                        <img src="../../assets/image/Icon material-message.png" alt="">
                        <p>80</p>
                    </div>
                </div>
            </div>

        </div>


    </section>


</main>